@import '../../style/variables.scss';


$currentDateBackground: #c7e2f6;
$selectedDateBorderColor: #1a69a4;

.gui-date-picker-calendar {
	box-sizing: border-box;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	user-select: none;

	.gui-date-picker-container {
		display: flex;
		flex-direction: column;
		border-radius: 4px;
		box-shadow: 0 3px 7px $gray;
		width: 250px;
		padding: 0 0 12px 0;

		.gui-date-picker-interface {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 24px 18px;

			h3 {
				margin: 0;
				cursor: pointer;
				pointer-events: auto;
			}

			button {
				background: transparent;
				border: none;
				font-size: 18px;
				margin-left: 12px;
				cursor: pointer;
			}
		}

		table {
			height: 250px;
			width: 250px;
			padding: 0 12px;

			td {
				height: 31px;
				width: 31px;
				text-align: center;
				position: relative;

				span {
					border: {
						style: solid;
						width: 1px;
						color: transparent;
					};
					border-radius: 4px;
					padding: 2px 4px;
				}

			}

			.gui-date-picker-day {

				span {
					display: none;
					pointer-events: none;
				}
			}

			.gui-date-picker-month,
			.gui-date-picker-year {
				cursor: pointer;
			}

			.gui-date-picker-year {
				span {
					font-size: 13px;
				}
			}

			.gui-date-picker-day.gui-date-picker-selected-month {

				span {
					display: block;
					pointer-events: auto;
					cursor: pointer;
				}
			}

			.gui-date-picker-day.gui-date-picker-current-day,
			.gui-date-picker-month.gui-date-picker-current-month,
			.gui-date-picker-year.gui-date-picker-current-year {

				span {
					background: $currentDateBackground;
				}
			}

			.gui-date-picker-day.gui-date-picker-selected-day,
			.gui-date-picker-month.gui-date-picker-selected-month,
			.gui-date-picker-year.gui-date-picker-selected-year {

				span {
					border: {
						style: solid;
						width: 1px;
						color: $selectedDateBorderColor;
					}
				}
			}

		}
	}
}
